{% extends 'main/base.html' %}

{% block title %}Order Created{% endblock title %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <i class="bi bi-check-circle-fill text-success" style="font-size: 3rem;"></i>
            <h1 class="mt-3">Order Successfully Created!</h1>
            <p class="lead">Thank you for your order. We will process it shortly.</p>
            <a href="/" class="btn btn-primary mt-3">Continue Shopping</a>
        </div>
    </div>
</div>
{% endblock content %}