{% extends 'main/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block content %}
<main role="main" aria-label="User Login">
    <section class="login custom-flex">
        <div class="login-title">
            <h2>Login<span></span></h2>
            <form action="{% url 'user:login' %}" method="post" aria-labelledby="login-form">
                {% csrf_token %}
                {% if request.GET.next %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <div class="custom-mb-3">
                    <label for="id_username" class="form-label form-style">Username</label>
                    <input type="text" class="form-control form-style"
                           value="{% if form.username.value %}{{ form.username.value }}{% endif %}"
                           name="username" id="id_username" placeholder="Input username" required>
                </div>
                <div class="custom-mb-3">
                    <label for="id_password" class="form-label form-style">Password</label>
                    <input type="password" class="form-control form-style"
                           name="password" id="id_password" placeholder="Your password" required>
                </div>
                <div>
                    <label>Aboba228</label>
                    <input enabled>
                </div>
                <div>
                    <label>Blablabla</label>
                    <input disabled>
                </div>
                <div>
                    <label>BleBleBleBleBle</label>
                    <input required>
                </div>
                <button type="submit" class="login-btn form-style">Login</button>
            </form>
            <div class="reset-pass">
                <hr>
                <div class="custom-mt-3">
                    <a href="{% url 'user:registration' %}">Create Account</a>
                </div>
            </div>

            <input type="checkbox" name="a2"><span>Windows Vista</span><br>
            <input type="checkbox" name="a3"><span>Windows XP</span><br>
        </div>
    </section>
</main>
<style>
    input:enabled { background-color: forestgreen; cursor: not-allowed; }
    input:disabled { background-color: firebrick; cursor: not-allowed; }
    input:required { background-color: lightcoral; }
    span:empty { background: red; padding: 3px; }
    input:checked + span { background: #fc0; }
    button { cursor: wait; }
</style>    
{% endblock content %}